html, body {
  height: 100%;
  width: 100%;
}

.boldtitle{
  font-weight: bold !important;
  text-align: center;
}


.gameWindow{ 
  outline-style:solid;
  outline-color:black;
  width: 1280px;
  height: 720px;
  background-color: #242424;
  color:white

}
.windowAlign{
  display:flex;
  justify-content: center; 
/*   margin:auto; */
  align-items: center;
  height: 80%;
}


.welcomeBox{
  margin:40px;
  width:1200px;
  justify-content: center; 
  text-align: center;

}

.incorrect{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;  
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backg{
    background-color: #444444 !important;
}

.hidden{
  display: none !important
}